<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboardLayout}">
<head>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Admin Product</title>-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"-->
<!--            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"-->
<!--            crossorigin="anonymous"-->
<!--    />-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"-->
<!--    />-->
<!--    <script-->
<!--            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
<!--    <script-->
<!--            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"-->
<!--            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
</head>
<body>
<!--<main class="container">-->
<!--    <header class="row text-center"></header>-->
    <section class="row" layout:fragment="content">

        <div class="col mt-4">
            <form action="/admin/products/saveOrUpdate" method="post" enctype="multipart/form-data" th:object="${product}">
                <div class="card shadow-sm border">
                    <div class="card-header bg-primary text-white">
                        <h2 th:text="${product.isEdit ? 'Edit Product' : 'Add New Product'}">Add New Product</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="hidden" th:field="*{isEdit}">
                                <div class="mb-3">
                                    <label for="productId" class="form-label">Product ID:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="productId"
                                            id="productId"
                                            th:field="*{productId}"
                                            aria-describedby="productIdHid"
                                            placeholder="Product ID"
                                            readonly
                                    />
                                    <small id="productIdHid" class="form-text text-danger" th:if="${#fields.hasErrors('productId')}">Product ID is required</small>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name:</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            id="name"
                                            th:field="*{name}"
                                            aria-describedby="nameHId"
                                            placeholder="Product Name"
                                    />
                                    <small id="nameHId" class="form-text text-danger" th:if="${#fields.hasErrors('name')}">Product name is required</small>
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity:</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="quantity"
                                            id="quantity"
                                            th:field="*{quantity}"
                                            aria-describedby="quantityHid"
                                            placeholder="Product Quantity"
                                    />
                                    <small id="quantityHId" class="form-text text-danger" th:if="${#fields.hasErrors('quantity')}">Product quantity is required</small>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Unit Price</span>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="price"
                                            id="price"
                                            th:field="*{unitPrice}"
                                            placeholder="Product Price"
                                    />
                                    <span class="input-group-text">VND</span>
                                </div>
                                <div class="mb-3">
                                    <label for="categoryId" class="form-label">Category:</label>
                                    <select
                                            class="form-select"
                                            name="categoryId"
                                            id="categoryId"
                                            th:field="*{categoryId}">
                                        <option th:each="item : ${categories}" th:value="${item.categoryId}"
                                                th:text="${item.name}" th:selected="${item.categoryId == product.categoryId}">Category Name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <script>
                                    function chooseFile(fileInput) {
                                        if (fileInput.files && fileInput.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                document.getElementById('image').src = e.target.result;
                                            }
                                            reader.readAsDataURL(fileInput.files[0]);
                                        }
                                    }
                                </script>
                                <img
                                        id="image"
                                        th:src="${product.image != null ? '/admin/products/images/' + product.image : '/images/no-image.jpg'}"
                                        src="/images/no-image.jpg"
                                        class="img-fluid rounded"
                                        style="max-height: 200px; object-fit: cover;"
                                        alt="Product Image"
                                />
                                <div class="form-group mb-3">
                                    <label for="productImage" class="form-label">Image file:</label>
                                    <input
                                            class="form-control"
                                            type="file"
                                            name="imageFile"
                                            id="productImage"
                                            onchange="chooseFile(this)"
                                            aria-describedby="productImage"
                                    />
                                    <small class="form-text text-muted">Product image is optional</small>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Discount</span>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="discount"
                                            id="discount"
                                            th:field="*{discount}"
                                            placeholder="Product Discount"
                                    />
                                    <span class="input-group-text">%</span>
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status:</label>
                                    <select
                                            class="form-select"
                                            name="status"
                                            id="status"
                                            th:field="*{status}">
                                        <option value="0">Select Status</option>
                                        <option value="1">Available</option>
                                        <option value="2">Out of Stock</option>
                                        <option value="3">Discontinued</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="description" class="form-label">Description:</label>
                                    <textarea
                                            class="form-control"
                                            name="description"
                                            id="description"
                                            th:field="*{description}"
                                            rows="5"
                                            placeholder="Product Description"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            <span th:text="${product.isEdit ? 'Update' : 'Save'}">Save</span>
                        </button>
                        <div>
                            <a class="btn btn-secondary" type="reset">Reset</a>
                            <a class="btn btn-danger ms-2" th:if="${product.isEdit}"
                               th:href="@{'/admin/products/delete/' + ${product.productId}}">
                                <i class="fa fa-trash" aria-hidden="true"></i> Delete
                            </a>
                            <a th:href="@{/admin/products/add}" class="btn btn-success ms-2">New</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </section>
<!--    <footer class="row"></footer>-->
<!--</main>-->
</body>
</html>
