<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout}">
<head>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Admin Category List</title>-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"-->
<!--            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"-->
<!--            crossorigin="anonymous"-->
<!--    />-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"-->
<!--    />-->
<!--    <script-->
<!--            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
<!--    <script-->
<!--            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"-->
<!--            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!--<main class="container">-->
<!--    <header class="row text-center"></header>-->
<section class="row" layout:fragment="content">

    <div class="col mt-4">
        <form action="" method="post">
            <div class="card shadow-sm border border-secondary">
                <div class="card-header bg-primary text-white">
                    <h3>Account List</h3>
                </div>
                <div class="card-body">
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i>[[${message}]]</i>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="mb-0">Manage Accounts</h5>
                            <a th:href="@{/admin/accounts/add}" class="btn btn-outline-success">
                                <i class="fa fa-plus-circle"></i> Add New Account
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Password</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="account : ${accounts}">
                                    <td scope="row">[[${account.username}]]</td>
                                    <td th:text="${account.password}"></td>
                                    <td class="text-center">
                                        <a th:href="@{'/admin/accounts/view/' + ${account.username}}" class="btn btn-outline-info btn-sm me-1">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a th:href="@{'/admin/accounts/edit/' + ${account.username}}" class="btn btn-outline-warning btn-sm me-1">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a th:data-id="${account.username}"
                                           th:data-name="${account.username}"
                                           onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
                                           class="btn btn-outline-danger btn-sm">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete "<span id="productName"></span>"?
                        </div>
                        <div class="modal-footer">
                            <a id="yesOption" class="btn btn-danger">Yes</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        function showConfirmModalDialog(id, name) {
            jQuery('#productName').text(name);
            jQuery('#yesOption').attr('href', '/admin/accounts/delete/' + id);
            jQuery('#confirmationId').modal('show');
        }
    </script>


</section>
<!--    <footer class="row">-->
<!--    </footer>-->
<!--</main>-->
</body>
</html>
