<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboardLayout}">
<head>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Admin Category List</title>-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"-->
<!--            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"-->
<!--            crossorigin="anonymous"-->
<!--    />-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"-->
<!--    />-->
<!--    <script-->
<!--            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
<!--    <script-->
<!--            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"-->
<!--            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"-->
<!--            crossorigin="anonymous"-->
<!--    ></script>-->
</head>
<body>
<!--<main class="container">-->
<!--    <header class="row text-center"></header>-->
    <section class="row" layout:fragment="content">
        <div class="col offset-3 mt-4">
            <form action="">
                <div class="card">
                    <div class="card-header">
                        <h3>Category List</h3>
                    </div>
                    <div class="card-body">
                        <div th:if="${message != null}" class="alert alert-primary" role="alert">
                            <i>[[${message}]]</i>
                        </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col">
                                        <form th:action="@{/admin/categories/searchpaginated}">
                                            <div class="form-inline float-left d-flex">
                                            <label for="name">Name: </label>
                                            <input type="text" class="form-control ml-2"
                                                   name="name" id="name" aria-describedby="helpId" placeholder="Name">
                                                <button class="btn btn-outline-primary ml-2">Search</button>
                                            </div>
                                        </form>
                                        <div class="float-right">
                                            <a class="btn btn-outline-primary"
                                               th:href="@{/admin/categories/add}">Add new Category</a>

                                </div>
                                        <div class="row" th:if="${!categoryPage.hasContent()}">
                                            <div class="col">
                                                <div class="alert alert-danger" role="alert">
                                                    <strong>No Categories Found</strong>
                                                </div>
                                            </div>
                                        </div>
                                <table class="table table-striped table-inverse"
                                       th:if="${categoryPage.hasContent()}">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col">Category ID</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category, iStat : ${categoryPage.content}">
                                        <td scope="row">[[${category.categoryId}]]</td>
                                        <td th:text="${category.name}">Item</td>
                                        <td>
                                            <a th:href="@{'admin/categories/view/' + ${category.categoryId}}" class="btn btn-outline-info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                            <a th:href="@{'/admin/categories/edit/' + ${category.categoryId}}" class="btn btn-outline-warning"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a th:href="@{'/admin/categories/delete/' + ${category.categoryId}}" class="btn btn-outline-danger"><i class="fa fa-recycle" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="card-footer text-muted">

                            <form action="">
                                <div class="form-group float-left">
                                    <label for="size">Page Size: </label>
                                    <select name="size" id="size" class="form-control"
                                    onchange="this.form.submit()">
                                        <option th:selected="${categoryPage.size == 5}" value="5">5</option>
                                        <option th:selected="${categoryPage.size == 10}" value="10">10</option>
                                        <option th:selected="${categoryPage.size == 15}" value="15">15</option>
                                        <option th:selected="${categoryPage.size == 20}" value="20">20</option>
                                        <option th:selected="${categoryPage.size == 25}" value="25">25</option>
                                    </select>
                                </div>
                            </form>

                            <nav aria-label="Page navigation"
                                 th:if="${categoryPage.totalPages > 0}">
                                <ul class="pagination justify-content-center">

                                    <li th:class="${1 == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${1})}"
                                        class="page-link">First</a>
                                    </li>

                                    <li class="page-item active"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:if="${categoryPage.totalPages > 1}"
                                    th:class="${pageNumber == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${pageNumber})}"
                                           class="page-link"
                                            th:text="${pageNumber}"></a>
                                    </li>

                                    <li th:class="${categoryPage.totalPages == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${categoryPage.totalPages})}"
                                           class="page-link">Last</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
<!--    <footer class="row">-->
<!--    </footer>-->
<!--</main>-->
</body>
</html>
