<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>



  </head>
  <body>

  <div th:fragment="footer" style="margin-top: 30px;">
    <div class="text-center border-top my-5 py-4" style="background-color: #f1f1f1; color: #333;">
      <strong>&copy; FPT Poly 2024. All rights reserved.</strong>
      <div class="mt-2">
        <p class="mb-1">Contact: <a href="mailto:thongnqt188@gmail.com" style="color: #007bff; text-decoration: none;">thongnqt188@gmail.com</a></p>
        <p class="mb-1">Phone: <a style="color: #007bff; text-decoration: none;">0373288407</a></p>
        <p class="mb-0">Student ID: <span style="color: #007bff;">PD08590</span></p>
      </div>
    </div>
  </div>



  </body>
</html>